nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}

nav li {
  text-align: center;
  flex: 1;
  font-size: 35px;
  font-family:'Courier New', Courier, monospace;
}
body {
    background-color: rgb(164, 242, 216);
    font-family:'Times New Roman', Times, serif;
}
title {
    font-size: 40px;
    text-align: center;
}
.h1 {
    font-size: 35px;
}
.p1 {
    font-size: 25px;
    font-weight: bold;
}
.image {
    height: 530px;
    width: 510px;
}
.list {
    font-size: 24px;
}
.special {
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
    color:blue;
}
article {
    font-size: 20px;
}
